{% extends 'base.html' %}
{% block content %}

{% if ticker %}
    {{ ticker }}
{% endif %}

{% if api %}
    {% if api == "Error..." %}
        There was a problem, seems like we can not find correct value.

    {% else %}
        <h1>{{ api.companyName}}</h1><br/>
        Price: {{ api.latestPrice }}<br/>
        Close Price: {{ api.previousClose}}<br/>
        Market Cap: {{ api.marketCap}}<br/>
        Year To Date Change: {{ api.ytdChange}}<br/>
        52 Week High: {{ api.week52High}}<br/>
        52 Week Low: {{ api.week52low}}<br/>


    {% endif %}

{% endif %}


{% endblock %}